extends layout

block content
  div.row
    div.col-md-6
      div.panel.panel-primary
        div.panel-heading
          h1.panel-title= film.titre
        div.panel-body
          p.text-center <img src="#{film.poster}" />
          table.table.table-striped
            tr
              td Scenaristes
              td #{film.scenaristes}
            tr
              td Realisateurs
              td #{film.realisateurs}
            tr  
              td Acteurs
              td #{film.acteurs}
            tr  
              td Date de sortie
              td #{film.date_de_sortie}
            tr
              td Langue
              td #{film.langue}
            tr
              td Genre
              td #{film.genre}
    div.col-md-6
      div.panel.panel-default
        div.panel-heading
          h1.panel-title Synopsis
        div.panel-body
          p #{film.synopsis}
      div.panel.panel-primary
        div.panel-heading
          h1.panel-title Trailer
        div.panel-body
          p <iframe width="500" height="315" src="#{film.trailer}" frameborder="0" allowfullscreen></iframe>
      div.panel.panel-danger
        div.panel-heading
          h1.panel-title Recommandations
        div.panel-body
          each r in recommandations
            p
              a(href="/detail/"+r._id) #{r.titre}