extends layout

block content
  div.panel.panel-primary
    div.panel-heading
      h1.panel-title= title
    div.panel-body
      div.table-responsive
        table.table.table-striped
          tr
            th Titre
            th Scénaristes
            th Réalisateurs
            th Acteurs
            th Date de sortie
            th Langue
            th Genre
          each f in data.films
            tr
              td
                a(href='/detail/'+f._id) #{f.titre}
              td= f.scenaristes
              td= f.realisateurs
              td= f.acteurs
              td= f.date_de_sortie
              td= f.langue
              td= f.genre
      nav
        ul.pager
          if(data._links.previous)
            li
              a(href=data._links.previous) Previous
          if(data._links.next)
            li
              a(href=data._links.next) Next