doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
  body
    div.navbar.navbar-fixed-top.navbar-inverse
      div.container
        div.navbar-header
          a.navbar-brand(href='/') RecoFilm
        form.navbar-form.navbar-right(action="/")
          div.form-group
            input.form-control(type='text',placeholder='Quentin Tarantino',name="search")
          button.btn.btn-default(type="submit") Rechercher
    div.container
      block content
      hr
      footer
        p Projet SIA 2015 &copy; Kiruban PREMKUMAR, Marina TANG